#header {
    padding: 40px 50px 40px 50px;
    color: purple;
}

#body {
    padding: 0px 0px 0px 50px;
}

#error {
    text-align: center;
    color: red;
}

#footer {
padding: 40px 50px 40px 50px;
    text-align: right;
    color: gray;
}
